.footer-container {
  margin-top: auto;
  background: #fff8e9;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 40px;
  height: 7vh;
  color: #ef537e;
  font-size: 18px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100px;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.linkedin {
  transform: scale(0.95);
}

.insta {
  transform: scale(1.2);
}

.copyright,
.source-code {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  color: #ef537e;
}

.symbol {
  transform: translateY(0.4px);
}

.commit {
  transform: translateY(1.5px);
}
