.navbar {
  width: 100%;
  padding-top: 5vh;
  padding-left: 4vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tab {
  width: 140px;
  height: 32px;
  border-radius: 15px 15px 0 0;
  background: #fff8e9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ef537e;
  text-decoration: none;
}

.home {
  background: #ef537e;
  color: #cded99;
}

.about {
  background: #ffd586;
}

.experience {
  background: #9cd7f9;
}
